@model Kartverket.Produktark.Models.ProductSheet

<div class="form-group">
    @Html.LabelFor(model => model.PrecisionInMeters, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PrecisionInMeters, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PrecisionInMeters, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CoverageArea, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.CoverageArea, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CoverageArea, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Projections, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Projections, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Projections, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ServiceDetails, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ServiceDetails, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ServiceDetails, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ListOfFeatureTypes, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ListOfFeatureTypes, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ListOfFeatureTypes, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ListOfAttributes, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ListOfAttributes, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ListOfAttributes, "", new { @class = "text-danger" })
    </div>
</div>