@model Kartverket.Produktark.Models.ProductSheet

@{  if (Model.Title != null)
    {
        ViewBag.Title = "Opprett produktark for " + Model.Title;}
    else {
        ViewBag.Title = "Opprett produktark";}
}

<h2>@ViewBag.Title</h2>
<div>
    @Html.ActionLink("Tilbake til liste", "Index")
</div>

@using (Html.BeginForm("Create", "ProductSheets", FormMethod.Post, new { @class = "form form-horizontal" })) 
{
    @Html.AntiForgeryToken()
    if (Model.Uuid != null) {
    @Html.HiddenFor(m => m.Uuid)
    }

    @Html.Partial("_Form", Model)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
