@model Kartverket.Produktark.Models.ProductSheet

@{
    ViewBag.Title = "Opprett produktark for " + Model.Title;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Create", "ProductSheets", FormMethod.Post, new { @class = "form form-horizontal" })) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Uuid)

    @Html.Partial("_Form", Model)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
