@model Kartverket.Produktark.Models.ProductSheet

@{
    ViewBag.Title = "Details";
}

<h2>Detaljer</h2>

<div>
    <h4>Produktark</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Uuid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.SupplementalDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplementalDescription)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.SpecificUsage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecificUsage)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.UseLimitations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UseLimitations)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Rediger", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tilbake til liste", "Index")
</p>
