@model Kartverket.Produktark.Models.ProductSheet

@{
    ViewBag.Title = "Rediger produktark for " + Model.Title;
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("Tilbake til liste", "Index")
</div>

@using (Html.BeginForm("Edit", "ProductSheets", FormMethod.Post, new { @class = "form form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Uuid)
    
    @Html.Partial("_Form", Model)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
