@model IEnumerable<Kartverket.Produktark.Models.ProductSheet>

@{
    ViewBag.Title = "Mine produktark";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Lag ny", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactMetadata.Organization)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactMetadata.Organization)
        </td>
        <td>
            @Html.ActionLink("Rediger", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Generer pdf", "CreatePdf", new { id = item.Id })
        </td>
    </tr>
}

</table>
