@model IEnumerable<Kartverket.Produktark.Models.ProductSheet>

@{
    ViewBag.Title = "Mine produktark";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Lag ny", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactMetadata.Organization)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactMetadata.Organization)
        </td>
        <td>
            <a href="@Url.Action("Edit")?id=@item.Id" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Rediger</a>
            <a href="@Url.Action("CreatePdf")?id=@item.Id" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-download"></span> Opprett pdf</a>
            <a href="@Url.Action("Delete")?id=@item.Id" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span> Slett</a>
        </td>
    </tr>
}

</table>
