@using System.Security.Claims
@using Kartverket.Produktark.Models
@using Kartverket.Produktark.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Html.Partial("_Analytics")
</head>
<body class="geonorge-container prototype  geonorge">
    <div id="logo-on-sm">
        <img src="/Content/img/kvlogo_col.png" alt="Kartverkets logo" />
    </div>

    @Html.Partial("_NavbarPartial")
  
        <div class="body-content">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="@Html.GeonorgeUrl()">Geonorge</a></li>
                    <li><a href="/">Produktark</a></li>
                    @RenderSection("breadcrumb", false)
                </ol>
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger"><p>@TempData["error"]</p></div>
                }

                @RenderBody()
            </div>
        </div>
    <footer class="page-footer" role="contentinfo">
        <div class="top-shadow">&nbsp;</div>

        <div class="container padding-bottom">
            <div class="row">

                <div class="col-sm-3 col-xs-12">
                    <div>
                        <h1 class="heading">Kontakt oss</h1>
                        <p>Tlf. 08700</p>
                        <p>post@norgedigitalt.no</p>
                    </div>
                </div>
                <div class="col-xs-12 visible-xs">&nbsp;</div>
                <div class="col-sm-2 col-sm-offset-7 col-xs-12">
                    <div class="">
                        <p>© 2014 - Kartverket</p>
                        <p>Versjon @Html.ApplicationVersionNumber()</p>
                        <!--<p><a href="/Om-Kartverket/Personvern-og-cookies/"> Personvern og cookies </a></p>-->
                    </div>
                </div>
            </div>

        </div>

    </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    </body>
    </html>
