@using System.Security.Claims
@using Kartverket.Produktark.Models
@using Kartverket.Produktark.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="@Html.KartkatalogenUrl()Content/img/favicon.ico" />
    <title>@ViewBag.Title</title>

    <!-- Stylesheets -->
    @Styles.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/css/styles")

    <!-- Scripts -->
    <script>
        var applicationEnvironment = '@Html.EnvironmentName()';
        var applicationVersionNumber = '@Html.ApplicationVersionNumber()';
    </script>
    @Scripts.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/scripts")
    @Scripts.Render("~/bundles/js")

    @RenderSection("head", false)
    @Html.Partial("_Analytics")
    @RenderSection("scripts", false)
</head>

<body class="geonorge-container prototype  geonorge ng-scope" ng-app="geonorge">

    <div id="loading-animation" class="loading-animation" style="display: none;"></div>

    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR2X5P"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MR2X5P');</script>
    <!-- End Google Tag Manager -->

    @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_SharedMenu.min.cshtml")

    <div class="body-content">
        <div class="container container-breadcrumbs" id="navTabCont">
            <ul class="breadcrumbs col-md-12">
                <li><a href="@Html.GeonorgeUrl()">Geonorge</a></li>
                <li><a href="/">Produktark</a></li>
                @RenderSection("breadcrumb", false)
            </ul>
        </div>

        @if (TempData["error"] != null)
            {
            <div class="alert alert-danger"><p>@TempData["error"]</p></div>
        }

        <div class="body-content">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Footer.cshtml")
</body>
</html>
